body {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #f4f4f4;
	font-family: Helvetica;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.header {
	padding-top: 11px;
	background: linear-gradient(#058182, #2a3a52);
	background-image: -webkit-linear-gradient(top, #058182, #2a3a52);
	height: 48px;
	position: fixed;
	width: 100%;
}
.logo {
	background: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: 70%;
	left: 0;
	width: 132px;
	height: 55px;
	float: left;
}
.header_button_container .logo
{
	width: 50%;
	position: absolute;
}

.header_button_container
{
	right: 0;
	float: right;
}
.header_button_container div
{
	background-size: 70%;
	background-repeat: no-repeat;
}
.header_button {
	margin-right: 5px;
	margin-top: 5px;
	height: 40px;
	width: 40px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	float: left;
}
.header_search{
	background: url('../img/header_search.png');
}
.header_fave{
	background: url('../img/header_fav.png');
}
.header_refresh{
	background: url('../img/header_refresh.png');
}
.container {
	margin-top: 75px;
	right: 0;
	float: right;
	width: 100%;
}
.station_title {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 5px;
	direction: rtl;
	font-size: 16px;

}
.stations {
	width: 96%;
	text-align: right;
	border-style: solid;
	border-width: 3px;
	border-color: #b5b5b5;
	margin: auto;
	
}
tr td{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dedede;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}
.station_name {
	font-size: 17px;
	font-weight: bold;
}
.station_number, .station_location
{
	font-size: 12px;
	color: #7d7d7d;
}
tr:active .station_number, tr:active .station_location
{
	color: #ffffff;
}
.station_location {
	display: inline;
}
.station_number {
	float: left;
}
.line_container .station_name {
	padding-top: 5px;
}
.station_operator {
	
	background-size: 100% 100%;
	width: 64px;
	height: 64px;
	float: right;
}
.stations tr:active {
	background-color: #0072ff;
}
#loader {
	background-image: url('../img/ajax.gif');
	width: 40px;
	height: 40px;
	position: fixed;
	margin: 50% auto;
  	left: 0;
  	right: 0;

}
.line_time {
	direction: rtl;
	float: left;
	font-size: 12px;
	margin-top: -9px;
}
.line_min {
	font-size: 20px;
	font-weight: bold;
}